.list {
    width: 270px;
    padding: 70px 5px;

    .user-info {
        border: 2px solid red;
        border-radius: 91px 91px 15px 15px;
        padding: 5px;
        background: #e7e7e7;
        
        img {
            width: 100%;
            border: 2px solid indianred;
            border-radius: 50%;
        }
    }

    .user-info-wrapper {
        text-align: center;

        p {
            margin: 5px;
            border-bottom: 1px solid;
        }
    }

    ul {
        height: auto;
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
        }

        li {
            margin-top: 5px;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            border: 1px solid grey;
            box-shadow: 0px 0px 9px -1px grey;
            cursor: pointer;

            &:hover {
                background-color: #e7e7e7;
                transition: background-color 0.5s ease;
            }
        }
    }
}