.goods-header {
    height: 45px;
    width: 100%;
    padding: 0 10px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        text-decoration: none;
        color: white;
    }

    &-link {
        display: flex;

        ul li {
            list-style: none;
            font-size: 20px;

            a{
                text-decoration: none;
                color: white;

                &:hover {
                    color: #fffc3c;
                }
            }
        }
    }
}

