.goods-header {
    padding: 0 10px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        text-decoration: none;
        color: white;
    }

    &-link {
        ul {
            margin-bottom: 0;
            display: flex;
            align-items: center;
        
            li {
            list-style: none;
            margin-right: 10px;

                a{
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: #fffc3c;
                    }
                }
            }
        }
}
    }



.modalDiv {
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: #fffc3c;
    top: 50px;
    left: 50px;
}