* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader {
    margin-top: 200px !important;
}

.css-k2olzo {
    position: absolute !important;
    top: 43% !important;
    left: 45% !important;
}

.App {
    // height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}