.market nav{
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid grey;
    box-shadow: 0px 0px 9px -1px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recomended-productes-field {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 0px 0px 9px -1px grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .recomended-producte-card {
        height: 200px;
        width: 150px;
        padding: 5px;
        border: 1px solid grey;
        text-align: center;

        &-img {
            height: 70%;
            width: 100%;
            border: .7px solid grey;
        }

        &-info-wrapper {
            height: 30%;
            width: 100%;
        }
    }
}