.card {
    min-width: 30% !important;
    margin: 5px;
    transition: .5s;

    img {
        object-fit: contain;
        object-position: center;
    }

    &:hover {
        background: rgb(206, 206, 206);
    }
}