.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    // background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(161,95,135,1) 0%, rgba(115,212,230,1) 100%);
    box-shadow: 0px 0px 9px 7px grey;
    background: #e7e7e7;
}

.logo {
    height: 100px;
}

.buttonsCollection {
    height: 100%;
    display: flex;
    justify-content: space-between;

    button {
        cursor: pointer;
    }
}

.dark-button {
    height: 30px;
    width: 30px;
    margin: 12px;
    background: url(../images/light-dark/dark.png);
    background-size: cover;
    cursor: pointer;
}

.light-button {
    height: 30px;
    width: 30px;
    margin: 12px;
    background: url(../images/light-dark/light.png);
    background-size: cover;
    cursor: pointer;
}

ul {
    height: 100%;
    display: flex;
    list-style-type: none;

    li > img {
        cursor: pointer;
    }
}

.registerLogin > ul {
    justify-content: space-around;
    align-items: center;

    li {
        margin: 0 5px;
    }

    button {
        height: 30px;
        width: 100px;
        border-color: transparent;
        background-color: white;
        box-shadow: 0px 0px 9px 2px grey;
    }

    .logInBtn {
        background-color: #FF6600;
        color: #fff;
    }
}

.languages > ul {
    justify-content: center;
    align-items: center;

    li {
        margin: 0 6px ;
    }

    img {
        height: 20px;
    }
}